body {
    background-color: #e6f2fd;
    overflow-x: hidden;
}

.sidebar {
    position: fixed;
    background-color: #0b4d8b;
    height: 100%;
    width: 16.69%;
    padding-top: 20px;
}

.bar {
    margin-left: 4.68%;
}

.pos {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-left: 28px;
}

.out {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-top: 400px;
    margin-left: 48px;
}

.pos:hover,
.out:hover {
    color: #a0d7ff;
}

.modal-content {
    border: none;  /* Remove any border */
}

.modal-header {
    border-bottom: none; /* Ensure no line appears below the header */
}

.modal-footer {
    border-top: none; /* Remove border from the footer */
}
.container{
    margin-left: 19%; 
    padding-top: 20px;
}



