/* Body styles */
body {
    background-image: url('/images/row-industrial-laundry-machines-laundromat-generative-ai_123447-30836.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

/* Login container */
.login-container {
    max-width: 400px;
    width: 400%;
    margin: auto;
}

/* Login card styles */
.login-card {
    backdrop-filter: blur(8px); /* Adds blur effect */
    background-color: rgba(255, 255, 255, 0.6); /* Semi-transparent background */
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Adjust input-group styles */
.input-group-text {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    color: #6c757d;
    border-radius: 10px;
}

/* Button hover styles */
.btn-primary:hover {
    background-color: #004085;
    border-color: #003768;
}
